{%  load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/Delete_history/CSS/historial.css' %}">
    <title>Historial de Plagas de Cultivos</title>
</head>
<body>
    <div class="navbar">
        <h1>Resultados Anteriores</h1>
        <button class="filtro-btn">Filtro</button>
    </div>
        </div>
        <div class="Contenedor_resultados">
            <div class="Imagen_resultados">
                <img src="{% static '/Delete_history/IMG/1Aguacate.jpg' %}" alt="Imagen 1" class="imagen_objeto">
            </div>
            <div class="Texto_resultados">
                <h2>Cultivo en buen estado</h2>
                <ul>
                    <li class="li_cultivo">Descripción: Cultivo de aguacate</li>
                    <li class="li_cultivo">23/10/2023  15:30PM</li>
                </ul>
                <h2>Cultivo con plaga detectada</h2>
                <ul>
            </div>
        </div>
        <br>

        <div class="Contenedor_resultados">
            <div class="Imagen_resultados">
                <img src="{% static '/Delete_history/IMG/2Banano.jpg' %}" alt="Imagen 1" class="imagen_objeto">
            </div>
            <div class="Texto_resultados">
                <h2>Cultivo en buen estado</h2>
                <ul>
                    <li class="li_cultivo">Descripción: Cultivo de banano</li>
                    <li class="li_cultivo">23/10/2023  15:30PM</li>
                </ul>
                <h2>Cultivo con plaga detectada</h2>
                <ul>
            </div>
        </div>
    </div>
</body>
</html>
